:root {
    --var-5: 5px;
    --var-10: 10px;
    --var-20: 20px;
    --var-30: 20px;
    --var-40: 30px;
    --var-60: 50px;
    --var-80: 70px;
    --var-100: 80px;
    --var-120: 100px;
    --var-160: 140px;
    --var-200: 180px;

    --g-padding: 40px;
}
