:root {
    --var-5: 5px;
    --var-10: 10px;
    --var-20: 20px;
    --var-25: 25px; // check
    --var-25: 25px;
    --var-30: 30px; // check
    --var-40: 40px;
    --var-50: 50px; // check
    --var-60: 60px; // check
    --var-70: 70px; // check
    --var-80: 80px; // check
    --var-100: 100px;
    --var-140: 140px;
    --var-160: 160px;
    --var-200: 200px;

    --g-padding: 40px;
}
