:root {
    --var-10: 5px;
    --var-20: 15px;
    --var-30: 20px;
    --var-40: 30px;
    --var-60: 40px;
    --var-70: 30px;
    --var-80: 40px;
    --var-100: 80px;
    --var-120: 60px;
    --var-160: 120px;
    --var-200: 150px;

    --g-padding: 40px;
}
