:root {
    --var-5: 5px;
    --var-10: 10px;
    --var-20: 20px;
    --var-25: 25px;
    --var-30: 30px;
    --var-40: 40px;
    --var-50: 20px;
    --var-60: 60px;
    --var-70: 30px;
    --var-80: 30px;
    --var-100: 70px;
    --var-140: 80px;
    --var-160: 100px;
    --var-200: 200px;

    --g-padding: 40px;
}
