.header {
    padding: 12px 0px;

    .wrapper {
        margin: 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "logo burger"
            "nav nav"
            "btn btn"
            "lang lang";
    }

    &__logo {
        width: 97px;

        grid-area: logo;

        margin-left: 8px;
    }

    .burger {
        display: flex;
        flex-direction: column;

        width: 20px;

        grid-area: burger;
        justify-self: end;

        margin-right: 8px;

        &__line {
            content: "";

            margin-right: 8px;

            background-color: #1c212b;
            border-radius: 10px;

            width: 100%;
            height: 2px;

            &:not(:first-child) {
                margin-top: 2px;
            }
        }
    }

    &__nav {
        margin-left: 0;

        grid-area: nav;

        display: none;

        ul {
            flex-direction: column;
            margin-top: 10px;

            li {
                padding: 13px 8px;

                border-top: 1px solid #8397bf;

                &:last-of-type {
                    border-bottom: 1px solid #8397bf;
                }
            }

            > li:not(:first-of-type) {
                margin-left: 0;
            }
        }
    }

    &__btn {
        grid-area: btn;

        margin: 32px 8px 0;

        max-width: none;
        width: auto;

        display: none;
    }

    &__language {
        grid-area: lang;

        margin-top: 16px;

        justify-self: center;

        margin-left: 0;

        display: none;
        flex-direction: row;
        align-items: center;

        &__item {
            padding: 13px 10px;

            background-color: white;

            cursor: pointer;

            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin-left: 7px;
            }

            .arrow {
                display: none;
            }
        }

        .first-lang {
            border: 1px solid #8397bf;
            border-radius: 10px 0px 0px 10px;
        }

        .second-lang {
            position: static;

            left: auto;
            top: auto;

            opacity: 1;

            border: 1px solid #8397bf;
            border-radius: 0 10px 10px 0;
            border-left: none;
            width: 100%;

            background-color: #8397bf;

            &:hover {
                background-color: #8397bf;
            }
        }
    }

    &.menu-active {
        .burger {
            position: relative;
            .line-1 {
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: 0;
                transform: translateY(-50%) rotate(45deg);
            }

            .line-4 {
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: 0;
                transform: translateY(-50%) rotate(-45deg);
            }

            .line-2,
            .line-3 {
                display: none;
            }
        }
        .header__nav {
            display: block;
        }
        .header__language {
            display: flex;
        }
        .header__btn {
            display: block;
        }
    }
}
