%btn {
  display: block;

  width: 100%;

  padding: 14px 0;

  border: 1px solid $secondary;

  background-color: $secondary;

  border-radius: 10px;

  @extend %text16-500;

  line-height: 20px;
  color: white;
  text-align: center;

  transition: background-color 0.3s, border 0.3s, color 0.3s;

  &:hover {
    background-color: transparent;
    color: $secondary;
    border-color: $secondary;
  }

  @media (max-width: 600px) {
    padding: 12px 0;
    &:hover {
      background-color: $secondary;
      color: #fff;
    }
  }
}
