.select-container {
  display: flex;
  gap: 11px;
  align-items: center;

  width: 100%;

  white-space: nowrap;

  @extend %input-font;

  .select {
    display: block;
    max-width: 100%;
    width: 100%;
    position: relative;
  }

  .new-select {
    position: relative;
    background-color: #fff;
    padding: 14px 60px 14px 20px;
    cursor: pointer;
    user-select: none;

    text-align: left;

    color: $text-color;

    border-radius: 10px 0 0 10px;

    border-right: 1px solid #8397bf;

    height: 49px;
  }

  .new-select__list {
    position: absolute;
    top: 48px;
    left: 0;
    border: 1px solid $bg-color;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #ffffff;
    user-select: none;

    border-radius: 10px 0 10px 10px;
  }

  .new-select__list.on {
    display: block;
  }

  .new-select__item {
    &:first-of-type {
      span {
        border-radius: 10px 0 0 0;
      }
    }

    &:last-of-type {
      span {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  .new-select__item span {
    display: block;
    padding: 10px 20px;

    color: $text-color;

    background: #ffffff;
    transition: all 0.5s;
  }

  .new-select__item span:hover {
    color: white;
    background-color: $secondary;
  }

  .new-select:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 18px;

    background: url("resourses/select-arrow.svg") no-repeat right center / contain;
    opacity: 1;

    -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
