.advantages {
    margin-top: 100px;

    h2 {
        @extend %H1;
    }

    &__container {
        margin-top: 80px;

        display: flex;
    }

    .advantages-item {
        position: relative;

        width: 100%;
        height: 226px;
        padding: 20px;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background: linear-gradient(180deg, #0658f6 0%, #124099 100%);

        border-radius: 18px;

        cursor: pointer;

        &:not(:first-child) {
            margin-left: 32px;
        }

        &__text {
            position: absolute;
            top: 110px;

            transition: top 0.3s;

            &__header {
                @extend %text24-700;
                color: white;
            }

            &__info {
                margin-top: 20px;
                @extend %text16-400;
                color: white;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            position: absolute;

            left: 0;
            top: 0;

            z-index: 0;
        }

        &:hover {
            .advantages-item__text {
                top: 5px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .advantages {
        .advantages-item {
            padding: 10px;

            height: 220px;

            &:not(:first-child) {
                margin-left: 32px;
            }

            &__text {
                top: 140px;

                &__header {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .advantages {
        margin-top: 60px;

        &__container {
            margin-top: 35px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        .advantages-item {
            padding: 20px;

            height: 190px;

            &:not(:first-child) {
                margin-left: 0;
            }

            &__text {
                position: static;
                margin-top: auto;

                &__info {
                    display: none;
                }
            }

            &:hover {
                .advantages-item__text {
                    top: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .advantages {
        margin-top: 60px;

        &__container {
            margin-top: 35px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 7px;
        }

        .advantages-item {
            padding: 10px;

            height: 113px;

            &:not(:first-child) {
                margin-left: 0;
            }

            &__text {
                position: static;
                margin-top: auto;

                &__header {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                }

                &__info {
                    display: none;
                }
            }

            &:hover {
                .advantages-item__text {
                    top: auto;
                }
            }
        }
    }
}
