.main-banner {
    background: linear-gradient(289.83deg, #fab030 8.29%, #f39035 99.56%);
    border-radius: 18px;

    width: 100%;

    padding: 70px 77px;

    display: flex;

    &__info {
        max-width: 401px;

        &__img {
            display: none;
        }
    }

    &__img {
        margin-left: 50px;

        width: 100%;
        object-fit: contain;
    }

    h1 {
        @extend %H1;
        color: white;
    }

    h4 {
        margin-top: 30px;

        @extend %text20-400;
        color: white;
    }

    &__launch {
        margin-top: 40px;

        @extend %btn;
        max-width: 230px;
    }

    &__demo {
        margin-top: 16px;

        @extend %btn;
        max-width: 230px;
        border-color: white;
        background-color: transparent;
    }
}

@media screen and (max-width: 600px) {
    .main-banner {
        background: linear-gradient(289.83deg, #fab030 8.29%, #f39035 99.56%);
        border-radius: 10px;

        width: 100%;

        padding: 26px 10px 30px;

        &__info {
            max-width: none;

            &__img {
                display: block;

                margin-top: 30px;

                width: 100%;
                object-fit: contain;
            }
        }

        &__img {
            display: none;
        }

        h1 {
            font-size: 24px;
            line-height: 30px;
        }

        h4 {
            font-size: 14px;
            line-height: 20px;

            margin-top: 16px;
        }

        &__launch {
            margin-top: 24px;
            margin-left: auto;
            margin-right: auto;
        }

        &__demo {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
