.options {
    margin-top: 100px;

    h2 {
        @extend %H1;
        color: $text-color;
    }

    &__scroll-container {
        margin-top: 80px;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    .option-item {
        padding: 30px 20px;

        border: 1px solid #8397bf;
        border-radius: 18px;

        width: 100%;

        display: flex;
        flex-direction: column;

        max-width: 296px;
        min-width: 296px;
        min-height: 390px;

        height: max-content;

        &:not(:first-child) {
            margin-left: 32px;
        }

        &__header {
            @extend %text24-700;
            color: $text-color;
        }

        &__text {
            margin-top: 16px;
            @extend %text16-400;
        }

        &__img {
            margin-top: auto;

            align-self: flex-end;
            width: 105px;
            height: 105px;
        }
    }

    .progress {
        margin-top: 30px;

        display: block;
        width: 100%;
        height: 10px;
        border-radius: 10px;
        overflow: hidden;

        background-color: #f5f5f5;
        background-image: linear-gradient(to right, black, black);
        background-repeat: no-repeat;
        background-size: 0 100%;

        transition: background-size 0.4s ease-in-out;
    }

    .mobile-container {
        display: none;
    }

    .swiper {
        padding-bottom: 40px;
    }

    .swiper-scrollbar {
        height: 6px;
        background-color: #f3f4f7;
    }

    .swiper-scrollbar-drag {
        background-color: #cddefe;
    }
}

@media screen and (max-width: 600px) {
    .options {
        margin-top: 65px;

        // .desc-container {
        //     display: none;
        // }

        // .mobile-container {
        //     display: flex;
        // }

        &__scroll-container {
            margin-top: 35px;
        }

        &__container {
            margin-top: 0;
        }

        .swiper-slide {
            width: fit-content;
        }

        .option-item {
            padding: 20px;

            border-radius: 10px;

            width: 100%;

            display: flex;
            flex-direction: column;

            max-width: 228px;
            min-width: 228px;
            min-height: 288px;

            &__header {
                font-weight: 600;
                font-size: 16px !important;
                line-height: 22px !important;
            }

            &__text {
                margin-top: 14px;

                font-size: 12px;
                line-height: 18px;
            }

            &__img {
                margin-top: 40px;

                align-self: flex-end;
                width: 95px;
                height: 95px;
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}
