.partners {
    margin-top: 100px;

    display: flex;
    //justify-content: space-between;
    align-items: center;

    &__first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .partner-item {
        width: 100%;
        height: 100%;
        max-width: 144px;
        max-height: 144px;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
            max-height: 30px;
            height: 30px;
        }

        &:nth-child(2) {
            max-height: 55px;
            height: 55px;
        }

        &:nth-child(3) {
            max-height: 30px;
            height: 30px;
        }

        &:nth-child(4) {
            max-height: 45px;
            height: 45px;
        }

        &:nth-child(6) {
            max-width: 164px;
            img {
                margin-top: 5px;
            }
        }

        &:nth-child(7) {
            max-width: 164px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__second-row {
        display: none;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .partner-item {
            &:nth-child(2) {
                max-height: none;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .partners {
        flex-direction: column;

        padding: 0px 10px;

        margin-top: 0;

        margin-top: 65px;

        .partner-item {
            // max-width: 60px;
            // max-height: 60px;
            border-radius: 20px;
        }

        &__first-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .partner-item {
                &:nth-child(5) {
                    display: none;
                }
                &:nth-child(6) {
                    display: none;
                }
                &:nth-child(7) {
                    display: none;
                }
            }
        }

        &__second-row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            margin-top: 20px;

            .partner-item {
                max-width: 200px;
                max-height: 140px;
                border-radius: 0;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .partners {
        flex-direction: column;

        padding: 0px 10px;

        margin-top: 0;

        margin-top: 65px;

        .partner-item {
            max-width: 60px;
            max-height: 60px;
            border-radius: 20px;
        }

        &__first-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .partner-item {
                &:nth-child(1) {
                    max-height: 60px;
                    height: 60px;
                }

                &:nth-child(2) {
                    max-height: 60px;
                    height: 60px;
                }

                &:nth-child(3) {
                    max-height: 60px;
                    height: 60px;
                }

                &:nth-child(4) {
                    max-height: 60px;
                    height: 60px;
                }
                &:nth-child(5) {
                    display: none;
                }
                &:nth-child(6) {
                    display: none;
                }
                &:nth-child(7) {
                    display: none;
                }
            }
        }

        &__second-row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            margin-top: 10px;

            .partner-item {
                max-width: none;
                max-height: 85px;
                width: 30%;
                border-radius: 0;

                &.frontpad {
                    max-width: 150px;
                    max-height: none;

                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
