.work {
    margin-top: 100px;

    &__header {
        @extend %H1;
        color: $text-color;
    }

    &__container {
        margin-top: 80px;

        display: flex;
        justify-content: space-between;
    }

    &__btn {
        @extend %btn;
        max-width: 180px;

        margin-top: 80px;
        margin-left: auto;
    }

    .work-item {
        min-height: 310px;

        max-width: 310px;

        padding: 20px;

        background: #f3f4f7;
        border-radius: 12px;

        &__img {
            display: none;
        }

        &__number {
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;

            color: $text-color;
        }

        &__name {
            margin-top: 24px;

            @extend %text24-500;
        }

        &__desc {
            margin-top: 16px;

            @extend %text16-500;
        }
    }
}

@media screen and (max-width: 1400px) {
    .work {
        &__container {
            display: flex;
            justify-content: space-between;

            overflow-x: scroll;

            padding-bottom: 0;

            &::-webkit-scrollbar {
                width: 2px;
                height: 6px;
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: #f3f4f7;
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #cddefe;
                display: none;
            }
        }

        .work-item {
            min-height: 336px;

            max-width: 336px;

            width: 300px;
            flex-shrink: 0;

            padding: 16px;

            &:not(:first-child) {
                margin-left: 16px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .work {
        margin-top: 65px;

        &__container {
            margin-top: 35px;

            display: flex;
            justify-content: space-between;

            overflow-x: scroll;

            padding-bottom: 0;

            &::-webkit-scrollbar {
                width: 2px;
                height: 6px;
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: #f3f4f7;
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #cddefe;
                display: none;
            }
        }

        &__btn {
            max-width: 100%;

            margin-top: 16px;
            margin-left: 0;
        }

        .work-item {
            min-height: 336px;

            max-width: 336px;

            width: 226px;
            flex-shrink: 0;

            padding: 10px;

            background-color: #fff;
            border: 1px solid #8397bf;
            border-radius: 10px;

            &:not(:first-child) {
                margin-left: 10px;
            }

            &__img {
                display: block;

                width: 81px;
                height: 74px;
                object-fit: contain;
            }

            &__number {
                display: none;

                font-weight: 700;
                font-size: 68px;
                line-height: 74px;

                color: #fff;

                // -webkit-text-stroke-width: 2px;
                // -webkit-text-stroke-color: #fab030;

                text-shadow: 1px 0 3px #fab030, 0 1px 3px #fab030, -1px 0 3px #fab030, 0 -1px 3px #fab030;
            }

            &__name {
                margin-top: 6px;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }

            &__desc {
                margin-top: 14px;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}
